---
import { Chip, Link } from "@nextui-org/react";

interface Props {
  title: string;
  description: string;
  image: string;
  deploy: string;
  github: string;
}

const { title, description, image, deploy, github } = Astro.props;
---

<article class="flex flex-col gap-2">
  <h3 class="text-lg text-primary font-semibold">{title}</h3>
  <p class="text-gray-400 text-pretty">{description}</p>
  <div class="flex items-center gap-2">
    <slot />
  </div>
  <img class="rounded" src={image} alt={title} />

  <div class="flex gap-2">
    <Link href={deploy} target="_blank" className="cursor-pointer">
      <Chip>Deploy</Chip>
    </Link>

    <Link href={github} target="_blank" className="cursor-pointer">
      <Chip>GitHub</Chip>
    </Link>
  </div>
</article>
