---
import Container from "./Container.astro";
import ProjectItem from "./ProjectItem.astro";

import { ROUTES } from "../../constants/routes";
import { PROJECTS } from "../../constants/projects";

import { BiLogoTypescript } from "react-icons/bi";
import { FaReact } from "react-icons/fa";
import { BiLogoTailwindCss } from "react-icons/bi";

const logoSize = "27px";
---

<Container id={ROUTES.PROJECTS.PATH}>
  <h2 class="text-xl font-semibold mb-4">Projects</h2>

  <ProjectItem
    title={PROJECTS.PASSWORD_GENERATOR.TITLE}
    description={PROJECTS.PASSWORD_GENERATOR.DESCRIPTION}
    image={PROJECTS.PASSWORD_GENERATOR.IMAGE}
  >
    <BiLogoTypescript size={logoSize} />
    <FaReact size={logoSize} />
    <BiLogoTailwindCss size={logoSize} />
  </ProjectItem>
</Container>
